<nav class="navbar navbar-expand-lg navbar-light bg-light" style="margin: 7px">
    <span style="font-size: 48px; color: greenyellow;">
        <i class="fab fa-angular"></i>
    </span>
    <a class="navbar-brand" href="#" style="margin: 10px; margin-left: 20px; margin-right: 700px">
        <h1 class="font-italic">Listado de paises n°2</h1>
    </a>

    <button id="agregarnuevo" type="button" class="btn btn-primary my-2 my-sm-0" (click)="adicionar()">
        <i class="fa fa-save"></i>
        Adicionar
    </button>
</nav>

<!--formulario-->
<div id="form" class="card" style="width: 500px;" *ngIf="lShowPanelDatosPaises">

    <form [formGroup]="userForm" class="was-validated" autocomplete="off" novalidate>

        <h1 class="card-title">LISTA</h1>

        <div class="form-group">

            <br><label for="nombre">Nombre pais:</label>
            <br><input type="text" formControlName="nombre" id="nombre" placeholder="digite el nombre" name="nombre" required>

            <br><label for="codigoInternacional">Codigo Internacional:</label>
            <br><input type="text" formControlName="codigoInternacional" id="codigoInternacional" placeholder="digite el codigo" name="codigoInternacional" required>

            <br><label for="bandera">Bandera:</label>
            <br><input type="text" formControlName="bandera" id="bandera" placeholder="digite la bandera" name="bandera" required>
        </div>

        <button type="button" class="btn btn-primary" (click)="callAdd()" *ngIf="lShowBtnAdicionar" [disabled]="!userForm.valid">
            <i class="fa fa-save"></i>
            Adicionar
        </button>

        <button type="button" style="margin: 10px" class="btn btn-success" (click)="callUpdate()" [disabled]="!userForm.valid" *ngIf="lShowBtnActualizar">
            <i class="fa fa-edit"></i>
            Actualizar
        </button>

        <button type="button" style="margin: 10px" class="btn btn-primary" (click)="callCancelar()">
            <i class="fa fa-backspace"></i>
            Cancelar
        </button>
    </form>
</div>

<!--tarjeta de paises-->
<div class="container-fluid" *ngIf="lShowPanelListadoPaises">
    <div class="container py-5">
        <div class="row">
            <div class="col-md-4" *ngFor="let pais of listadoPaises.data">
                <div id="tarjeta" class="card" style="width: 18rem;margin: 50px">
                    <div class="card-body">
                        <img class="card-img-top" src="https://cdn.pixabay.com/photo/2017/03/27/16/50/beach-2179624__340.jpg">
                        <h5 class="card-title">{{pais.nombre}}</h5>
                        <p class="card-text">{{pais.bandera}}</p>
                        <button style="margin: 10px" type="button" class="btn btn-primary" (click)="actualizar(pais)">
                            <i class="fa fa-edit"></i>
                        </button>
                        <button type="button" class="btn btn-danger" (click)="callEliminar(pais)">
                            <i class="fa fa-trash"></i>
                        </button>
                    </div>
                </div>
            </div>
            <div class="col-md-4">

            </div>
            <div class="col-md-4">
            </div>
        </div>
    </div>
</div>