<div class="m-5">
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a [routerLink]="['/test']" [routerLinkActive]="['active']" class="nav-link" href="#">Paises 1</a>
        </li>
        <li class="nav-item">
            <a [routerLink]="['/paises2']" [routerLinkActive]="['active']" class="nav-link" href="#">Paises 2</a>
        </li>
        <li class="nav-item">
            <a [routerLink]="['/idiomas']" [routerLinkActive]="['active']" class="nav-link" href="#">Idiomas</a>
        </li>
        <li class="nav-item">
            <a [routerLink]="['/usuarios']" [routerLinkActive]="['active']" class="nav-link" href="#">Usuarios</a>
        </li>
    </ul>
    <br/>

    <router-outlet></router-outlet>
</div>