<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">
        <h1 id="cabeceraPaisesTitulo">Listado de paises n°1</h1>
    </a>

    <button id="agregarnuevo" type="button" class="btn btn-primary" (click)="adicionar()">
        <i class="fa fa-save"></i>
        Adicionar
    </button>
</nav>

<!--formulario-->
<div id="form" class="card" style="width: 300px;" *ngIf="lShowPanelDatosPaises">

    <form [formGroup]="userForm" class="was-validated" autocomplete="off" novalidate>

        <h3 class="card-title">Información del País</h3>

        <div class="form-group" style="text-align: center">

            <br><label for="nombre">Nombre pais:</label>
            <br><input type="text" formControlName="nombre" id="nombre" placeholder="Digite el nombre" name="nombre" required>

            <br><label for="codigoInternacional">Codigo Internacional:</label>
            <br><input type="text" formControlName="codigoInternacional" id="codigoInternacional" placeholder="Digite el codigo" name="codigoInternacional" required>

            <br><label for="bandera">Bandera:</label>
            <br><input type="text" formControlName="bandera" id="bandera" placeholder="Digite la bandera" name="bandera" required>
        </div>

        <div id="form-buttons" style="text-align: center">
            <button type="button" class="btn btn-primary" (click)="callAdd()" *ngIf="lShowBtnAdicionar" [disabled]="!userForm.valid">
                <i class="fa fa-save"></i>
                Adicionar
            </button>

            <button type="button" class="btn btn-success" (click)="callUpdate()" [disabled]="!userForm.valid" *ngIf="lShowBtnActualizar">
                <i class="fa fa-save"></i>
                Actualizar
            </button> &nbsp;
            <button type="button" class="btn btn-danger" (click)="callCancelar()">

                <i class="fa fa-save"></i>
                Cancelar
            </button>
        </div>
    </form>
</div>

<table class="table mt-3 animate fadeIn faster">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Nombre</th>
            <th scope="col">Código</th>
            <th scope="col">Herramientas</th>
        </tr>
    </thead>

    <tbody>
        <tr *ngFor="let pais of listadoPaises.data">
            <td>{{pais.id}}</td>
            <td>{{pais.nombre}}</td>
            <td>{{pais.codigoInternacional}}</td>
            <td>
                <button class="btn btn-info mr-1" (click)="actualizar(pais)">
                    <i class=" fa fa-pen "></i>
                </button>

                <button class="btn btn-danger " (click)="callEliminar(pais)">
                    <i class="fa fa-trash "></i>
                </button>
        </tr>
    </tbody>
</table>