<!--barra de navegacion-->
<nav class="navbar navbar-expand-lg navbar-light bg-light" style="margin: 7px">
    <span style="font-size: 48px; color: greenyellow;">
        <i class="fab fa-angular"></i>
    </span> &nbsp;
    <a class="navbar-brand" href="#" style="margin: 10px; margin-left: 20px; margin-right: 700px">
        <h1 class="font-italic">Listado de usuarios</h1>
    </a>

    <button id="agregarnuevo" type="button" class="btn btn-primary my-2 my-sm-0" (click)="adicionar()">
        <i class="fa fa-save"></i>
        Adicionar
    </button>
</nav>

<!--formulario-->
<div id="form" class="card" style="width: 500px;" *ngIf="lShowPanelDatosPaises">

    <form [formGroup]="userForm" class="was-validated" autocomplete="off" novalidate>

        <h1 class="card-title">LISTA</h1>

        <div class="form-group">
            <input hidden type="text" formControlName="ID" id="ID" placeholder="digite el ID" name="ID">

            <br><label hidden for="USUARIO_TELEFONO">IUSUARIO_TELEFONO:</label>
            <br><input hidden type="text" formControlName="USUARIO_TELEFONO" id="USUARIO_TELEFONO" placeholder="digite el USUARIO_TELEFONO" name="USUARIO_TELEFONO">

            <br><label for="USUARIO_NOMBRE">Nombre:</label>
            <br><input type="text" formControlName="USUARIO_NOMBRE" id="USUARIO_NOMBRE" placeholder="digite el nombre" name="USUARIO_NOMBRE" required>

            <br><label for="USUARIO_APELLIDO">Apellido:</label>
            <br><input type="text" formControlName="USUARIO_APELLIDO" id="USUARIO_APELLIDO" placeholder="digite el Apellido" name="USUARIO_APELLIDO" required>

            <br><label for="USUARIO_LOGIN">Usuario:</label>
            <br><input type="text" formControlName="USUARIO_LOGIN" id="USUARIO_LOGIN" placeholder="digite el Usuario" name="USUARIO_LOGIN" required>

            <br><label for="USUARIO_PASSWORD">Contrasena:</label>
            <br><input type="text" formControlName="USUARIO_PASSWORD" id="USUARIO_PASSWORD" placeholder="digite la Clave" name="USUARIO_PASSWORD" required>

            <br><label for="EMPRESA_ID">Empresa Id:</label>
            <br><input type="text" formControlName="EMPRESA_ID" id="EMPRESA_ID" placeholder="digite id de la empresa" name="EMPRESA_ID" required>

            <br><label for="USUARIO_CORREO">Correo:</label>
            <br><input type="text" formControlName="USUARIO_CORREO" id="USUARIO_CORREO" placeholder="digite el correo" name="USUARIO_CORREO" required>

            <br><label for="CIUDAD_ID">Usuario:</label>
            <br><input type="text" formControlName="CIUDAD_ID" id="CIUDAD_ID" placeholder="digite id de Cuidad" name="CIUDAD_ID" required>

            <br><label for="PUNTO_ID">Punto id:</label>
            <br><input type="text" formControlName="PUNTO_ID" id="PUNTO_ID" placeholder="digite el punto id" name="PUNTO_ID" required>

            <br><label for="MCA_EMPLEADO">Marca Empleado:</label>
            <br><input type="text" formControlName="MCA_EMPLEADO" id="MCA_EMPLEADO" placeholder="digite la marca" name="MCA_EMPLEADO" required>

            <br><label for="IDIOMA_ID">Idioma:</label>
            <br><input type="text" formControlName="IDIOMA_ID" id="IDIOMA_ID" placeholder="digite el idioma" name="IDIOMA_ID" required><br>

            <button type="button" class="btn btn-primary" (click)="callAdd()" *ngIf="lShowBtnAdicionar" [disabled]="!userForm.valid">
                <i class="fa fa-save"></i>
                Adicionar
            </button>

            <button type="button" style="margin: 10px" class="btn btn-success" (click)="callUpdate()" [disabled]="!userForm.valid" *ngIf="lShowBtnActualizar">
                <i class="fa fa-edit"></i>
                Actualizar
            </button>

            <button type="button" style="margin: 10px" class="btn btn-primary" (click)="callCancelar()">
                <i class="fa fa-backspace"></i>
                Cancelar
            </button>
        </div>
    </form>
</div>

<!--tarjeta de usuarios-->
<div class="container-fluid" *ngIf="lShowPanelListadoPaises">
    <div class="container py-5">
        <div class="row">
            <div class="col-md-4" *ngFor="let usuarios of listadoUsuarios.data">
                <div id="tarjeta" class="card" style="width: 18rem;margin: 50px">
                    <div class="card-body">
                        <img class="card-img-top" src="https://cdn.pixabay.com/photo/2017/03/27/16/50/beach-2179624__340.jpg">
                        <h5 class="card-title">{{usuarios.USUARIO_NOMBRE}}</h5>
                        <p class="card-text">{{usuarios.USUARIO_APELLIDO}}</p>
                        <p class="card-text">{{usuarios.USUARIO_ID}}</p>

                        <button style="margin: 10px" type="button" class="btn btn-primary" (click)="actualizar(usuarios)">
                            <i class="fa fa-edit"></i>
                        </button>
                        <button type="button" class="btn btn-danger" (click)="callEliminar(usuarios)">
                            <i class="fa fa-trash"></i>
                        </button>
                    </div>
                </div>
            </div>
            <div class="col-md-4">

            </div>
            <div class="col-md-4">
            </div>
        </div>
    </div>
</div>