<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">
        <h1>Listado de idiomas</h1>
    </a>

    <button id="agregarnuevo" type="button" class="btn btn-primary my-2 my-sm-0" (click)="adicionar()">
        <i class="fa fa-plus"></i>
        Agregar Nuevo Idioma
    </button>
</nav>

<!--formulario-->
<div id="form_idiomas" class="card" style="width: 300px;" *ngIf="lShowPanelDatosIdiomas">

    <form [formGroup]="userFormIdioma" class="was-validated" autocomplete="off" novalidate>

        <br/>
        <h3 class="card-title">Información del País</h3>

        <div class="form-group">

            <br><label for="NOMBRE_IDIOMA">Nombre del idioma:</label>
            <br><input type="text" formControlName="NOMBRE_IDIOMA" id="NOMBRE_IDIOMA" placeholder="Digite nombre del idioma" name="NOMBRE_IDIOMA" required>

            <br><label for="SHORT_NAME">Nombre corto:</label>
            <br><input type="text" formControlName="SHORT_NAME" id="SHORT_NAME" placeholder="Digite el nombre corto" name="SHORT_NAME" required>

            <br><label for="MCA_ACTIVO">Marca activo:</label>
            <br><input type="text" formControlName="MCA_ACTIVO" id="MCA_ACTIVO" placeholder="Digite la marca activo" name="MCA_ACTIVO" required>

            <br><label for="MCA_ELIMINADO">Marca eliminado:</label>
            <br><input type="text" formControlName="MCA_ELIMINADO" id="MCA_ELIMINADO" placeholder="Digite la marca eliminado" name="MCA_ELIMINADO" required>

            <br><label for="BANDERA">Bandera:</label>
            <br><input type="text" formControlName="BANDERA" id="BANDERA" placeholder="Digite la bandera" name="BANDERA" required>

            <br/><br/>
            <button type="button" class="btn btn-primary" (click)="callAdd()" *ngIf="lShowBtnAdicionar" [disabled]="!userForm.valid">
                <i class="fa fa-save"></i>
                Adicionar
            </button>

            <button type="button" class="btn btn-success" (click)="callUpdate()" [disabled]="!userForm.valid" *ngIf="lShowBtnActualizar">
                <i class="fa fa-save"></i>
                Actualizar
            </button> &nbsp;
            <button type="button" class="btn btn-danger" (click)="callCancelar()">

                <i class="fa fa-save"></i>
                Cancelar
            </button>
            <br/>
        </div>
    </form>
</div>
<table class="table mt-3 animate fadeIn faster">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Nombre</th>
            <th scope="col">Nombre Corto</th>
            <th scope="col">Herramientas</th>
        </tr>
    </thead>

    <tbody>
        <tr *ngFor="let idioma of listadoIdiomas.data">
            <td>{{idioma.ID}}</td>
            <td>{{idioma.NOMBRE_IDIOMA}}</td>
            <td>{{idioma.SHORT_NAME}}</td>
            <td>
                <button class="btn btn-info mr-1" (click)="actualizar(idioma)">
                    <i class=" fa fa-pen "></i>
                </button>
            </td>
        </tr>
    </tbody>
</table>